<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.example.tableorder.mapper.TableOrderMainMapper">
	
	<select id='tabMenu' resultType='com.example.tableorder.vo.main.MainTabCodeVO' parameterType="Map">
	
		select * 
		from TabCode
		where ComId = #{comId} 
		and TabUse = #{tabUse}
		and Pos = #{pos}
			 	
	</select>
	
	<select id='itemMenu' resultType='com.example.tableorder.vo.main.MainItemVO' parameterType="Map">
	
		select comId, pName, itemName1, itemName2, pos, pCode, tabNo, itemCode, bColor, tax, subUse, sex, area, stockUse, uPrice, stock 
		from tktitems
		where comid = #{comId} 
		and pcode = #{pCode}
		and pos = #{pos}
			 	
	</select>
	
</mapper>