<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.example.tableorder.mapper.TableOrderBasketMapper">
	
	<select id='checkTMenuSeq' resultType='Integer'>
	
		select 
			top 1
			TMenuSeq
		from 
			TableDetail
		where 
			TNum = #{tNum}
		order by 1 desc
	
	</select>
	
	<select id='checkTableDetailOrderNo' resultType='Integer'>
	
		select 
			top 1
			OrderNo
		from 
			TableDetail
		order by 1 desc
	
	</select>
	
	<insert id='order' parameterType='map'>
	
	insert into TableDetail( Tnum, TMenuSeq, TabNo, ItemNo, Pname, ItemName1, ItemName2, Pcode,
							ItemCode, Aunit, Anum, Aamt, Tax, Sex, Area, Stock, StockUse, SubUse, 
							SubTotAmt, OPrice, OrderNo )
	values ( #{tNum}, #{tMenuSeq}, #{tabNo}, #{itemNo}, #{pName}, #{itemName1}, #{itemName2}, #{pCode},
				#{itemCode}, #{uPrice}, #{quantity}, #{aAmt}, #{tax}, #{sex}, #{area}, #{stock}, #{stockUse}, #{subUse},
				#{subTotAmt}, #{oPrice}, #{orderNo} )
	
	</insert>
	
	<select id='checkSalSeq' parameterType='map' resultType='Integer'>
	
		select 
			top 1
			salSeq
		from 
			tmtktDetail
		where
			salDate = #{salDate}
		order by 1 desc
	
	</select>
	
	<select id='checkTmtktDetailOrderNo' parameterType='map' resultType='Integer'>
	
		select 
			top 1
			OrderNo
		from 
			TmtktDetail
		where
			salDate = #{salDate}
		order by 1 desc
	
	</select>
	
	<select id='checkTmtktDetailTcode' parameterType='map' resultType='String'>
	
		select 
			top 1
			tCode
		from 
			TmtktDetail
		where
			salDate = #{salDate}
			and salPos = #{pos}
		order by 1 desc
	
	</select>
	
	<insert id='insertTmtktDetail' parameterType='map'>
	
		insert into TmtktDetail( comId, salDate, salPos, salSeq, tCode, tkdtSeq, tkdtTot, trDate,
							trTime, chCode, itemCode, pCode, aUnit, aNum, aAmt, aPayment, groupSel, rePrint, 
							aReturn, rtnSalDt, rtnDate, rtnTime, rtnCh, rtnPos, servTrans, transDate, transTime,
							rtnSvrSend, bsend, btReturn, bt_Orderno, refundrs, agreeNo, rDate, uDate, 
							lockNum, orderNo, subUse, baseUnit, tNum )
		values ( #{comId}, #{salDate}, #{salPos}, #{salSeq}, #{tCode}, #{tkdtSeq}, #{tkdtTot}, #{trDate},
				#{trTime}, #{chCode}, #{itemCode}, #{pCode}, #{aUnit}, #{aNum}, #{aAmt}, #{aPayment}, #{groupSel}, #{rePrint},
				#{aReturn}, #{rtnSalDt}, #{rtnDate}, #{rtnTime}, #{rtnCh}, #{rtnPos}, #{servTrans}, #{transDate}, #{transTime},
				#{rtnSvrSend}, #{bsend}, #{btReturn}, #{bt_Orderno}, #{refundrs}, #{agreeNo}, #{rDate}, #{uDate}, 
				#{lockNum}, #{orderNo}, #{subUse}, #{baseUnit}, #{tNum} )
	
	</insert>
	
	<insert id='insertTmtktHdr' parameterType='map'>
	
		insert into TmtktHDR( salDate, salPos, salSeq, trDate, trTime, chCode, 
							totCnt, totAmt,	aReturn, cashGbn, cashRcp, cashRcpApp, cashAmt, cashInputNo,
							rtnSalDt, rtnDate, rtnTime, rtnCh, rtnPos, servTrans, rtnSvrSend, transDate, transTime,
							tidNo, cashCustomerGbn, comId, rDate, uDate ) 
							
		values ( #{salDate}, #{salPos}, #{salSeq}, #{trDate}, #{trTime}, #{chCode}, 
				#{totCnt}, #{totAmt}, #{aReturn}, #{cashGbn}, #{cashRcp}, #{cashRcpApp}, #{cashAmt}, #{cashInputNo},
				#{rtnSalDt}, #{rtnDate}, #{rtnTime}, #{rtnCh}, #{rtnPos}, #{servTrans}, #{rtnSvrSend}, #{transDate}, #{transTime},
				#{tidNo}, #{cashCustomerGbn}, #{comId}, #{rDate}, #{uDate} ) 
	
	</insert>
	
	<insert id='insertTmtktPay' parameterType='map'>
	
		insert into TmtktPay( comId, salDate, salPos, salSeq, paySeq, trDate, trTime, chCode, 
							aPayment, payAmt, cardNo, cardGigan, appNo, halbu, maeIpCd, maeIpName,
							aReturn, rtnSalDt, rtnDate, rtnTime, rtnCh, rtnPos, servTrans, rtnSvrSend, transDate, transTime, 
							tidNo, taxCode, oidNo, pSeq, rDate, uDate, cashGbn, cashRcpApp, cashAmt, cashInputNo,
							csrType, aNum, catId, orderNo )
							
							
		values ( #{comId}, #{salDate}, #{salPos}, #{salSeq}, #{paySeq}, #{trDate}, #{trTime}, #{chCode}, 
				#{aPayment}, #{payAmt}, #{cardNo}, #{cardGigan}, #{appNo}, #{halbu}, #{maeIpCd}, #{maeIpName},
				#{aReturn}, #{rtnSalDt}, #{rtnDate}, #{rtnTime}, #{rtnCh}, #{rtnPos}, #{servTrans}, #{rtnSvrSend}, #{transDate}, #{transTime},
				#{tidNo}, #{taxCode}, #{oidNo}, #{pSeq}, #{rDate}, #{uDate}, #{cashGbn}, #{cashRcpApp}, #{cashAmt}, #{cashInputNo},
				#{csrType}, #{aNum}, #{catId}, #{orderNo} ) 
	
	</insert>
</mapper>